/* Styling the header, body and text */
body {
  background-image: url('../images/desk.jpg');
  width: 100%;
  /*background-size: contain;*/
  background-repeat: repeat;
  background-position: left;
  padding-top: 4%;
}

.margin {
  padding-left: 8%;
  padding-right: 8%;
}

h1, h2 {
  color: #ffffff;
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  top: 20%;
}

h3 {
  color: #ffffff;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  font-weight: 100;
}

p, li {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  list-style-type: none;
  font-size: 18px;
}

.text{
  color: #000000;
}

.name{
  color:  #ffffff;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.subjects {
  width: 100%;
  height: 40%;
  padding: 0;
}

.panel-group {
  width: 100%;
  font-color: #ffffff;
  color: #ffffff;
  float: center;
  padding: 2%;
}

 .list-group-item {
  background: #333;
  padding: 0px;
  width: 100%;
  font-color: #ffffff;
  border: none;
}

.panel-title {
  font-size: 140%;
  color: #333;
}

.face {
  border-radius: 100%;
}

.intro {
  padding-top: 5%;
}

.panel-group :hover {
  background-color: #ddd;
  color: black;
}

.experience {
  padding-left: 8%;
  padding-right: 8%;
}

/*Checkmarks for qualifications list */

.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
/*    animation-delay: 10s; */  
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: green;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}

.qualli {
  display: inline-block;
  padding-left: 10px;
  padding-right: 40px;
}

.check {
  display: inline-block;
}

/*Footer styling*/

#footer {
  display: block;
  background-color: #333;
  position: absolute fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  height: 10%; /* height of the footer */
  padding: 0;
}

#footer p {
  color: #fff;
  float: left center;
  padding-top: 1%;
}